{% extends 'principal.html' %}
{% block content %}
    <h1>Bienvenidos a la mejor en Telecomunicaciones</h1>
    <p>Datatel Srl., es la empresa de Telecomunicaciones líder en el mercado boliviano. 
        Fruto de un emprendimiento empresarial boliviano, este proyecto se hace realidad 
        el 10 de Septiembre de 1999 construyendo su primera red de planta externa en las ciudades de La Paz y 
        El Alto, actualmente con presencia en todo el territorio de Bolivia..</p>
    <h3>Testimonios</h3>
    <blockquote>
        <p>"Desde que comenzamos a usar los servicios de Datatel srl, nuestra conectividad ha mejorado 
            significativamente. Su atención al cliente es excepcional y siempre están dispuestos a ayudar. 
            Gracias a su tecnología avanzada, hemos podido implementar soluciones que han optimizado 
            nuestra operación y reducido costos. Sin duda, recomendamos Datatel srl. a 
            cualquier empresa que busque un proveedor confiable de telecomunicaciones en Bolivia."<br>

            — Juan Pérez, Gerente General de Innovatec</p>
    </blockquote>
    
{% endblock %}