{% extends 'principal.html' %}
{% block content %}
    <h1>Noticias</h1>
    <div>
        <img src="{{ url_for('static', filename='images/noticia1.jpg') }}" alt="Viceministerio de telecomunicaciones y AXS Bolivia S.A.Viceministerio de telecomunicaciones y AXS Bolivia S.A." width="900">
        <h3>Viceministerio de telecomunicaciones y AXS Bolivia S.A.</h3>
        <p>Desde 1969, cada 17 de mayo Conmemoramos el Día Mundial delas Telecomunicaciones, de la Unión Internacional de Telecomunicaciones (UIT) y la firma del primer Convenio Telegráfico Internacional 1865. Esta fecha fue instituida por la Conferencia de Plenipotenciarios de Málaga-Torremolinos en 1973, marcando un hito en la historia de las comunicaciones.

            Pero esta jornada también nos invita ro reflexionar sobre la importancia de las Tecnologías de la Información y la Comunicación (TIC) en nuestra sociedad. En noviembre de 2005, la Cumbre Mundial sobre la Sociedad de la Información propuso a la Asamblea General de las Naciones Unidas declarar el 17 de mayo como el Día Mundial de la Sociedad de la Información. En ese mismo año y contexto, la ONU también invitó a todos los países a unirse al Día Mundial del internet el 17 de mayo. Este llamado impulsó a países como Bolivia a prepararse para celebrar iniciativa</p>
        <button class="btn btn-primary">¡Contáctanos!</button>
    </div>
{% endblock %}