{% extends 'principal.html' %}
{% block content %}
    <h1>Quiénes Somos</h1>
    <p>Datatel Srl., es una empresa de Telecomunicaciones líder en el mercado boliviano. 
        Fruto de un emprendimiento empresarial liderizado por la familia Jaita, este proyecto se 
        hace realidad el 10 de Septiembre de 1999 construyendo nuestra propia red de planta externa 
        en las ciudades de La Paz y El Alto.<br><br>
        Desde entonces, Datatel Srl. opera con servicios de transmisión de datos vía líneas de 
        cobre y Fibra Óptica, accesos a internet para las empresas, entidades financieras, etc.<br><br>
        En la actualidad, la empresa cuenta con presencia propia en los 9 departamentos del país 
        con una extensa red local con la capacidad de brindar nuestros servicios a nuestros 
        clientes más exigentes.<br><br>
        En el año 2022 , Datatel Srl. celebrará 23 años de exitoso transitar por los caminos de 
        las telecomunicaciones, consolidada como la empresa de telecomunicaciones más importante 
        del mercado boliviano.</p>
    <h3>Misión</h3>
    <p>Somos la empresa que satisface eficientemente las necesidades de sus clientes, integrando 
        excelencia de servicio con tecnología de alta calidad y ultima generación..</p>
    <h3>Visión</h3>
    <p>Ser la empresa líder  en servicios de telecomunicaciones, con la mejor y mayor cobertura dentro, 
        desde y hacia BOLIVIA, con una excelente actitud de servicio y atención personalizada, 
        acorde a las necesidades de los clientes.</p>
    <h3>Equipo</h3>
    <div>
        <img src="{{ url_for('static', filename='images/equipos.jpeg') }}" alt="Equipo" width="800">
        <p>Nuestro equipo de trabajo en Datatel srl. está conformado por profesionales altamente capacitados y apasionados por la tecnología y las telecomunicaciones. Cada miembro aporta su experiencia y conocimientos para ofrecer soluciones innovadoras y eficientes a nuestros clientes.<br><br>

            Ingenieros de Telecomunicaciones: Especialistas en el diseño, implementación y mantenimiento de redes. Su experiencia técnica asegura que nuestras infraestructuras sean robustas y confiables.<br><br>
        
            Expertos en Atención al Cliente: Nuestro equipo de atención al cliente está dedicado a proporcionar soporte y resolver inquietudes de manera rápida y efectiva, garantizando una experiencia positiva para todos nuestros usuarios.<br><br>
        
            Analistas de Datos: Encargados de interpretar y analizar la información del mercado y el comportamiento del cliente, permitiéndonos ajustar nuestros servicios para satisfacer mejor las necesidades de nuestros usuarios.<br><br>
        
            Equipo de Innovación: Compuesto por creativos y desarrolladores que trabajan en el desarrollo de nuevas tecnologías y servicios que mantienen a Datatel Srl a la vanguardia del sector.<br><br>
        
            Personal Administrativo y de Recursos Humanos: Aseguran que nuestras operaciones sean eficientes y que nuestro equipo esté siempre motivado y en constante formación.</p>
    </div>
{% endblock %}